keybinds {
    shared_except "locked" {
        bind "Alt H" { MoveFocusOrTab "Left"; }
        bind "Alt L" { MoveFocusOrTab "Right"; }
        bind "Alt J" { MoveFocus "Down"; }
        bind "Alt K" { MoveFocus "Up"; }
    }
}

theme "catppuccin-mocha" // or latte, frappe and macchiato
